# ====== GENERALES (monorepo Angular + Nest) ======
**/node_modules/
**/dist/
**/build/
**/.angular/
**/coverage/
**/.cache/
**/tmp/
**/.tmp/
**/.sass-cache/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Entornos (no subir credenciales)
.env
.env.*
!.env.example

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# ====== ESPECÍFICO DEL PROYECTO ======
dsgtech-backend/dist/
dsgtech-backend/node_modules/
dsgtech-backend/coverage/

dsgtech-frontend/dist/
dsgtech-frontend/node_modules/
dsgtech-frontend/.angular/
dsgtech-frontend/coverage/
